@import url("https://fonts.googleapis.com/css2?family=Space+Mono&display=swap");

body {
  /*Light Mode*/
  --btn: #0079ff;
  --background-color: #697c9a;
  --text: #4b6a9b;
  --dark-text: #2b3442;
  --background-card: #fefefe;
  --background-color-gray: #f6f8ff;
  --text-hover: #000;
  --text-logo: #000;
  /*Dark Mode*/
  --white: #ffffff;
  --background-dark: #141d2f;
  --background-card-dark: #1e2a47;
}

* {
  font-family: "Space Mono", monospace;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body.dark-mode{
  --btn: #0079ff;
  --background-color: #141d2f;
  --text: #ffffff;
  --dark-text: #ffffff;
  --background-card: #1e2a47;
  --background-color-gray: #141d2f;
  --text-hover: #697c9a;
  --text-logo: #ffffff;
}